body{
    text-align: center;
}
.one{
    margin-top: 150px;
    margin-bottom: 5px;
}
.two{
    margin-top: 5px;
    margin-bottom: 5px;
}
.three{
    margin-top: 5px;
    margin-bottom: 5px;
}
.four{
    margin-top: 5px;
    margin-bottom: 5px;
}